$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$orange: #f4792b;

@mixin background() 
{
    background-image: -webkit-gradient
    (
        linear,
        left top,
        left bottom,
        color-stop(0, #FFCE2D),
        color-stop(1, #F7E4A8)
    );
    background-image: -o-linear-gradient(bottom, #FFCE2D 0%, #F7E4A8 100%);
    background-image: -moz-linear-gradient(bottom, #FFCE2D 0%, #F7E4A8 100%);
    background-image: -webkit-linear-gradient(bottom, #FFCE2D 0%, #F7E4A8 100%);
    background-image: -ms-linear-gradient(bottom, #FFCE2D 0%, #F7E4A8 100%);
    background-image: linear-gradient(to bottom, #FFCE2D 0%, #F7E4A8 100%);
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

/*Nesting*/
.jumbotron {
    .btn{
        font-size: 21px;
        padding: 14px 24px;
    }
    
    h1{
        color: #f4792b;
        font-weight: 300;
        font-size: 36px;
        margin-bottom: 0px;
        padding-bottom: 25px;
        line-height: 54px;
        text-shadow: none;
    }
}

.container .jumbotron {
padding-left: 30px;
padding-right: 30px;
}


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;

    background: rgb(252,255,244); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.footer {
    padding-top: 19px;
    color: $orange;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 80%;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

h1, .entry-title .jumbotron 
{
    color: $orange;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    line-height: 54px;
    margin-top: 30px;
    text-shadow: none;
}

.black
{
    color: black;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: $orange;
}

a{
    color: $orange;
}

a:hover,
a:focus {
  color: $orange;
  text-decoration: underline;
}

.panel-primary{
    border-color: #ffcd2c;
}

.row{
    margin: 10px;
}

.btn-warning{
    background-color: $orange;
}


.gradient {
    @include background;
}

.fixed-size{
    max-width: 300px;
}

.img-rounded{
    text-align: center;
    max-width: 100%;
    height: auto;
}

.angular-google-map-container{
    height: 400px; 
 }

.icone{
    margin-top: 10px; 
    margin-left: 10px;
}

.title{
    text-align: center;
}

.navbar-inverse {
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(254,252,234,1) 0%, rgba(241,219,53,1) 57%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,252,234,1)), color-stop(57%,rgba(241,219,53,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(254,252,234,1) 0%,rgba(241,219,53,1) 57%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(254,252,234,1) 0%,rgba(241,219,53,1) 57%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(254,252,234,1) 0%,rgba(241,219,53,1) 57%); /* IE10+ */
    background: linear-gradient(to right,  rgba(254,252,234,1) 0%,rgba(241,219,53,1) 57%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1db35',GradientType=1 ); /* IE6-9 */

    border:none; 


    .navbar-brand {
    color: black;
    }

    .navbar-nav > li > a {
    color: black;
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
        color:$orange;
    }

}

.logo {
  height: 36px;
  width: 100px;
}

