<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/">Home</a></li>
    <li class="active"><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
  <h3 class="text-muted">Poste Finder</h3>
</div>

<div class="jumbotron">
  <h1>About</h1>
  <p class="lead">
    Cette application web à été concue au cours des cours de webdesign à l'EPF.
  </p>
</div>

<div class="footer">
  <p><i class="fa fa-graduation-cap black"></i>  By Cédric Le Net and Romain Balaine</p>
</div>
