<div class="header">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-4">
      <ul class="nav nav-pills pull-left">
        <li><a ng-href="#/">Home</a></li>
        <li><a ng-href="#/geo">A proximité</a></li>
        <li class="active"><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/contact">Contact</a></li>
      </ul>
    </div>
     
    <div class="col-md-4 col-xs-4">
      <h1 class="title">Poste Finder</h1><br><br>
    </div>

    <div class="col-xs-6 col-md-4">
      <img class="img-responsive" src="images/logo.png" alt="box">
    </div>

  </div>
</div>

<div class="jumbotron">
  <h1>About</h1>
  <p class="lead">
    Cette application web a été concue au cours des cours de webdesign à l'EPF.
  </p>
  <img class="img-rounded" src="images/box.jpg" alt="box">
</div>

<div class="footer">
  <p><i class="fa fa-graduation-cap black"></i>  By Cédric Le Net and Romain Balaine</p>
</div>
