<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#/"><img class="img-responsive logo" src="images/logo.png" alt="box"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/geo">A proximité</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a class="active" ng-href="#/contact">Contact</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<br><br>
<div class="panel panel-primary">
<div class="row">
    <form class="form-horizontal" role="form">
        <div class="row">
            <label for="user" class="col-sm-2 col-sm-offset-2 control-label">Nom :</label>
            <div class="col-sm-4">
                <input type="text" id="user" class="form-control"/>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="emailaddress" class="col-sm-2 col-sm-offset-2 control-label">Email :</label>
            <div class="col-sm-4">
                <input type="text" id="emailaddress" class="form-control" />
            </div>
        </div>
        <br>
        <div class="row">
            <label for="comments" class="col-sm-2 col-sm-offset-2 control-label">Objet :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" />
            </div>
        </div>
        <br>
        <div class="row">
            <label for="comments" class="col-sm-2 col-sm-offset-2 control-label">Message :</label>
            <div class="col-sm-4">
                <textarea class="fixed-size" id="comments" rows="8" cols="43"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- <label for="terms" class="col-sm-4 control-label">Conditions g&eacute;n&eacute;rales accept&eacute;es</label> -->
            <div class="col-sm-4 col-sm-offset-4 checkbox">
                <label><input type="checkbox" id="terms"/>Conditions générales acceptées</label>
            </div>
        </div>
        <br>
        <div class="row title">
            <button type="submit" class="btn btn-lg btn-warning">Envoyer</button>
        </div>
    </form>
</div>
</div>