<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li class="active"><a ng-href="#/contact">Contact</a></li>
  </ul>
  <div class="col-xs-3"><img class="img-responsive" src="images/logo.png" alt="box"></div>
  <h3 class="text-muted">Poste Finder</h3><br><br>
</div>

<div class="row">
    <form class="form-horizontal" role="form">
        <div class="row">
            <label for="user" class="col-sm-2 col-sm-offset-2 control-label">Nom :</label>
            <div class="col-sm-4">
                <input type="text" id="user" class="form-control"/>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="emailaddress" class="col-sm-2 col-sm-offset-2 control-label">Email :</label>
            <div class="col-sm-4">
                <input type="text" id="emailaddress" class="form-control" />
            </div>
        </div>
        <br>
        <div class="row">
            <label for="comments" class="col-sm-2 col-sm-offset-2 control-label">Objet :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" />
            </div>
        </div>
        <br>
        <div class="row">
            <label for="comments" class="col-sm-2 col-sm-offset-2 control-label">Message :</label>
            <div class="col-sm-4">
                <textarea class="fixed-size" id="comments" rows="8" cols="43"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- <label for="terms" class="col-sm-4 control-label">Conditions g&eacute;n&eacute;rales accept&eacute;es</label> -->
            <div class="col-sm-4 col-sm-offset-4 checkbox">
                <label><input type="checkbox" id="terms"/>Conditions générales acceptées</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 control-label">
                <button type="submit" class="btn btn-warning">Envoyer</button>
            </div>
            <div class="col-sm-3 control-label">
                <button type="submit" class="btn btn-warning">Reset</button>
            </div>
        </div>
    </form>
</div>