<div class="header">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-4">
      <ul class="nav nav-pills pull-left">
        <li class="active"><a ng-href="#/">Home</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/contact">Contact</a></li>
      </ul>
    </div>
     
    <div class="col-md-4 col-xs-4">
      <h1 class="title">Poste Finder</h1><br><br>
    </div>

    <div class="col-xs-6 col-md-4">
      <img class="img-responsive" src="images/logo.png" alt="box">
    </div>

  </div>
</div>
  <h3 class="title">Trouvez la boite aux lettres la plus proche de vous !</h3>
  <br>  
    <div class="panel panel-primary">
      <div class="panel-body gradient">
        <div class="row">
          <div class="col-md-14">
          <h2 class="title">Recherche</h2><br>
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label">Arrondissement :</label>
                <div class="col-sm-5">
                  <select ng-model="arr" ng-options="cp.name for cp in arrondissement" class="form-control input-sm">
                    <option value="">Sélectionner votre arrondissement</option>
                  </select>
                </div>
                <div class="col-sm-5 col-md-offset-4" id="submit">
                  <br><button ng-click="getdata()" type="button" class="btn btn-block btn-warning">Chercher</button>
                </div>
              </div>
            </form>

          </div> 
        </div>
        <button ng-click="cacher=!cacher" class="indent btn btn-flat">Recherche</button>
        <div ng-show="cacher">
            <br>
              <div class="row">
                <div class="col-md-3 col-xs-10">
                  <div class=" input-group">
                    <input type="text" min="0" class="form-control input-sm" ng-model="search" id="search">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  </div>
                </div>
              </div>
            <br>
        </div>
        <button ng-click="hide=!hide" class="indent btn btn-flat">Résultats</button>
        <div ng-show="hide">
        <br>
          <bp-display></bp-display>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-body gradient">
        <div class="row">
          <div class="col-md-14">
            <h2 class="title">Géolocalisation</h2><br>
            <google-map center="map.center" draggable="true" zoom="map.zoom">
              <marker ng-repeat="bp in result" coords='bp.geometry.coordinates'></marker>
              <!-- <marker coords='coor'></marker> -->
            </google-map>
            {{coor}}
            <div class="col-sm-5 col-md-offset-4" id="submit">
              <br>
              <button ng-click="location()" type="button" class="btn btn-block btn-warning">Localiser-moi !</button>
              <p id="demo"></p>
            </div>
          </div> 
        </div>
      </div>
    </div>

<div class="footer">
  <p><i class="fa fa-graduation-cap black"></i>  By Cédric Le Net and Romain Balaine</p>
</div>
