<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" ng-href="#/"><img class="img-responsive logo" src="images/logo.png" alt="box"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/geo">A proximité</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/contact">Contact</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <br><br><h3 class="title">Les boites aux lettres par arrondissement</h3>
  <br>  
    <div class="panel panel-primary">
      <div class="panel-body gradient">
        <div class="row">
          <div class="col-md-14">
          <h2 class="title">Recherche</h2><br>
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label">Arrondissement :</label>
                <div class="col-sm-5">
                  <select ng-model="arr" ng-options="cp.name for cp in arrondissement" class="form-control input-sm">
                    <option value="">Sélectionner votre arrondissement</option>
                  </select>
                </div>
                <div class="col-sm-5 col-md-offset-4" id="submit">
                  <br><button ng-click="getdata()" type="button" class="btn btn-block btn-warning">Chercher</button>
                </div>
              </div>
            </form>

          </div> 
        </div>
        <button ng-click="cacher=!cacher" class="indent btn btn-flat">Recherche</button>
        <div ng-show="cacher">
            <br>
              <div class="row">
                <div class="col-md-3 col-xs-10">
                  <div class=" input-group">
                    <input type="text" min="0" class="form-control input-sm" ng-model="search" id="search">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  </div>
                </div>
              </div>
            <br>
        </div>
        <button ng-click="hide=!hide" class="indent btn btn-flat">Résultats</button>
        <div ng-show="hide">
        <br>
          <bp-display></bp-display>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-body gradient">
        <div class="row">
          <div class="col-md-14">
            <h2 class="title">Géolocalisation</h2><br>
            <google-map center="map.center" draggable="true" zoom="map.zoom">
              <marker ng-repeat="bp in result" coords='bp.geometry.coordinates'></marker>
            </google-map>
            <div class="col-sm-5 col-md-offset-4" id="submit">
              <br>
              <p id="demo"></p>
            </div>
          </div> 
        </div>
      </div>
    </div>

<div class="footer">
  <p><i class="fa fa-graduation-cap black"></i>  By Cédric Le Net and Romain Balaine</p>
</div>
